* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #e6f1ff;
}

.calculator-app {
  display: grid;
  margin-top: 4rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(7, auto);
  border: 2px solid #7393b3;
  justify-content: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #c2dfff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.output-section {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

#calc-section,
#input-section {
  font-family: digital-7;
}

#calc-section {
  min-height: 20px;
  font-size: 2rem;
  color: #6082b6;
}

#input-section {
  font-size: 1.5rem;
  color: #7393b3;
}

/* spanned button */
.span-btn {
  grid-column: span 2;
  padding: 0.7rem;
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: #f0f8ff;
  color: #36454f;
  padding: 0.7rem;
}

button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #6082b6;
}

#all-clear {
  background: #7393b3;
  color: whitesmoke;
}

#all-clear:hover {
  background: #c9dfec;
  color: #36454f;
  outline: 0.5 solid grey;
  z-index: 3;
}

#del:hover {
  background-color: #c9dfec;
  color: whitesmoke;
}

@font-face {
  font-family: digital-7;
  src: url(./assets/digital-7.ttf);
}
